
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
            data-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Admin</a>
                        </li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
                    </ol>
                    <h6 class="font-weight-bolder mb-0">Dashboard</h6>
                </nav>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div
                                class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                                <i class="material-icons opacity-10">weekend</i>
                            </div>
                            <div class="text-end pt-1">
                                <p class="text-sm mb-0 text-capitalize">Sales</p>
                                <h4 class="mb-0">Rs. {{totalSalesAmount}}</h4>
                            </div>
                        </div>
                        {{!-- <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">
                            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than last
                                week</p>
                        </div> --}}
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div
                                class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                                <i class="material-icons opacity-10">person</i>
                            </div>
                            <div class="text-end pt-1">
                                <p class="text-sm mb-0 text-capitalize">Total Users</p>
                                <h4 class="mb-0">{{totalUsers}}</h4>
                            </div>
                        </div>
                        {{!-- <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">
                            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than last
                                month</p>
                        </div> --}}
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div
                                class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                <i class="material-icons opacity-10">person</i>
                            </div>
                            <div class="text-end pt-1">
                                <p class="text-sm mb-0 text-capitalize">Total Orders</p>
                                <h4 class="mb-0">{{totalOrders}}</h4>
                            </div>
                        </div>
                        {{!-- <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">
                            <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">-2%</span> than
                                yesterday</p>
                        </div> --}}
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div
                                class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                                <i class="material-icons opacity-10">weekend</i>
                            </div>
                            <div class="text-end pt-1">
                                <p class="text-sm mb-0 text-capitalize">Total Products</p>
                                <h4 class="mb-0">{{totalProducts}}</h4>
                            </div>
                        </div>
                        {{!-- <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">
                            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+5% </span>than
                                yesterday</p>
                        </div> --}}
                    </div>
                </div>

                <div class="mt-4" id="myPlot" style="width:100%; max-width:1000px;"></div>

            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table id="sales-report" class="display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sl.No</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Actual Price</th>
                                <th>Offer</th>
                                <th>Discount Price</th>
                                <th>Stock</th>
                                <th>Sales</th>
                                <th>Image</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td>{{@index}}</td>
                                <td>{{this.Name}}</td>
                                <td>{{this.Category}}</td>
                                <td>{{this.actualPrice}}</td>
                                <td>{{this.Offer}}%</td>
                                <td>{{this.Price}}</td>
                                <td>{{this.Stock}}</td>
                                <td>{{this.Sales}}</td>
                                <td><img style="width: 50px;height: 50px" src="/product-images/{{this._id}}.jpg" alt="">
                                </td>
                            </tr>
                            {{/each}}
                            </tfoot>
                    </table>
                </div>
            </div>
        </div>
<div class="timeOfSale d-none">{{ timeOfSale }} {{amountOfSale}}</div>
    </main>



    <script>
        $(document).ready(function () {
            $('#sales-report').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>


    <script>
        console.log({{ timeOfSale }})
        let timeOfSale = document.querySelector(".timeOfSale").innerHTML;
        console.log(timeOfSale)
        let xArray = timeOfSale.split(',')
        console.log(typeof xArray[0])
        console.log(xArray)
        let yArray = [{{ amountOfSale }}];
        console.log(yArray)
        // Define Data
        let data = [{
            x: xArray,
            y: yArray,
            mode: "markers",
            type: "bar"
        }];
        let barData = [{
            x: xArray,
            y: yArray,
            mode: "lines",
            type: "bar"
        }];
        // Define Layout
        let layout = {
            xaxis: {
                type: 'date'
            },
            yaxis: {
                title: "Sales"
            },
            title: "Revenue per day"
        };
        let barLayout = {
            xaxis: {
                type: 'date'
            },
            yaxis: {
                title: "Sales"
            },
            title: "Sales"
        };
        // Display using Plotly
        Plotly.newPlot("myPlot", data, layout);
        Plotly.newPlot("myBar", barData, barLayout);
    </script>