<h1>Edit User</h1>

<form action="/admin/editUser/{{_id}}" method="post">
    <div class="row my-3">
        <label for="name" class="col-md-2 col-form-label">Current Name : </label>
        <div class="col-md-3">
            {{!-- <input type="text" name="oldName" class="form-control" id="name" value="{{name}}"> --}}
            <p class="pt-2">{{name}}</p>
        </div>

        <label for="newName" class="col-md-2 col-form-label">New Name:</label>
        <div class="col-md-3">
            <input type="text" name="newName" class="form-control" id="newName">
        </div>
    </div>
    <div class="row mb-3">
        <label for="data" class="col-md-2 col-form-label">Current data : </label>
        <div class="col-md-3">
            {{!-- <textarea type="text" id="data" class="form-control" name="oldData">{{data}}</textarea> --}}
            <p class="pt-2">{{data}}</p>
        </div>
        <label for="newData" class="col-md-2 col-form-label">New data</label>
        <div class="col-md-3">
            <textarea type="text" id="newData" class="form-control" name="newData"></textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>

</form>