<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">


  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
    data-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Admin</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Order Management</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">List of all orders</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <div class="input-group input-group-outline">
            <label class="form-label">Type here...</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a href="/admin" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Sign In</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->




  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">ORDER MANAGEMENT</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {{#if orders}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table id="orders" class="display nowrap" style="width:100%">
          <thead>
            <tr>
              <th>Sl.No</th>
              <th>Name</th>
              <th>Location</th>
              <th>Payment method</th>
              <th>Total Amount</th>
              <th>Status</th>
              <th>Date</th>
              <th>Action</th>
              <th>Update</th>

            </tr>
          </thead>
          <tbody>
            {{#each orders}}
            <tr>
              <td>{{@index}}</td>
              <td>{{this.deliveryDetails.Name}}</td>
              <td>{{this.deliveryDetails.City}}</td>
              <td>{{this.paymentMethod}}</td>
              <td>{{this.totalAmount}}</td>
              <td>{{this.status}}</td>
              <td>{{this.date}}</td>

              <td><a href="/admin/edit-product?id={{this._id}}"> <select class="form-select" name="Status"
                    id="Status" area-label="Default select example">
                    <option value="{{this.status}}">{{this.status}}</option>
                    <option value="delivered">Delivered</option>
                    <option value="cancelled">Cancelled</option>
                    <option value="returned">Returned</option>
                  </select></a></td>
              <td><a href="/admin/delete-product/{{this._id}}"><button class="btn btn-danger"
                    onclick="">UPDATE</button></a></td>
            </tr>
            {{/each}}
            </tfoot>
        </table>
      </div>
    </div>
  </div>
  {{else}}
  <div class="d-flex justify-content-center">
    <h3 class="">THERE ARE NO ORDERS TO DISPLAY</h3>
  </div>
  {{/if}}


  <script>
    $(document).ready(function () {
      $('#orders').DataTable({
        dom: 'Bfrtip',
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });
    });
  </script>

</main>