<div class="ads-grid_shop">
	<div class="shop_inner_inf">
		<div class="privacy about">
			<h3>Chec<span>kout</span></h3>

			<div class="checkout-left">
				<div class="col-md-4 checkout-left-basket">
					<h4>Amount to be paid</h4>
					<ul>
						<form action="#" method="post" id="redeem-code">
							<select class="form-control" name="Coupon" id="Coupon">
								<option value="" disabled selected hidden>ENTER COUPON CODE</option>
								{{#each coupons}}
								<option value="{{this.Coupon}}">{{this.Coupon}}</option>
								{{/each}}
							</select>
							<input type="text" name="userId" id="" value="{{user._id}}" hidden>

							<div>
								<p><span id="errMsg"></span><span id="MinPrice"></span></p>
							</div>

							<button type="submit" class="btn btn-danger"
								style="background: rgb(150, 150, 235); margin-top: 15px; margin-bottom: 15px;">REDEEM
								CODE</button>
						</form>
						{{#each products}}
						<li>Product{{@index}} <i>-</i> <span>Rs. {{this.product.Price}}</span></li>
						{{/each}}
						<li>Sub total <i>-</i> <span>Rs. <span id="subTotal">{{subTotal}}</span></span></li>
						<li>Discount applied <i>-</i> <span>Rs. <span id="discount">0</span></span></li>
						<li>Total <i>-</i> <span>Rs. <span id="total">{{subTotal}}</span></span></li>
					</ul>
				</div>
				<div class="col-md-8 address_form">
					<h4>Add delivery Details</h4>
					<form action="" method="post" id="checkout-form" class="creditly-card-form agileinfo_form">
						<section class="creditly-wrapper wrapper">
							<div class="information-wrapper">
								<div class="first-row form-group">
									<div class="controls">
										<label class="control-label">Full name: </label>
										<input class="billing-address-name form-control" type="text" name="Name"
											placeholder="Full name">
									</div>
									<div class="card_number_grids">
										<div class="card_number_grid_left">
											<div class="controls">
												<label class="control-label">Mobile number:</label>
												<input class="form-control" type="text" placeholder="Mobile number"
													name="Mobile">
											</div>
										</div>
									</div>
									<div class="controls">
										<label class="control-label">Town/City: </label>
										<input class="form-control" type="text" placeholder="Town/City" name="City">
										<input type="text" name="userId" id="" value="{{user._id}}" hidden>
									</div>
									<div class="controls">
										<label class="control-label">Payment Method</label>
										<input type="radio" id="" name="payment-method" value="COD">
										<label for="">Cash on delivery (COD)</label><br>
										<input type="radio" id="" name="payment-method" value="RazorPay">
										<label for="">RazorPay</label><br>
										<input type="radio" id="" name="payment-method" value="Paypal">
										<label for="">Paypal</label><br>
									</div>
									<button class="btn btn-success">CHECKOUT</button>
								</div>
							</div>
						</section>
					</form>
				</div>
				<div class="clearfix"> </div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>


<script>
	$("#checkout-form").submit((e) => {
		e.preventDefault()
		$.ajax({
			url: '/place-order',
			method: 'post',
			data: $('#checkout-form').serialize(),
			success: (response) => {
				if (response.codSuccess) {
					location.href = '/order-successful'
				} else {
					razorpayPayment(response)
				}
			}
		})
	})

	function razorpayPayment(order) {
		var options = {
			"key": "rzp_test_tofGvmp2BOkbs9", // Enter the Key ID generated from the Dashboard
			"amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
			"currency": "INR",
			"name": "Downy Shoes",
			"description": "Test Transaction",
			"image": "https://example.com/your_logo",
			"order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
			"handler": function (response) {

				verifyPayment(response, order)
			},
			"prefill": {
				"name": "Gaurav Kumar",
				"email": "gaurav.kumar@example.com",
				"contact": "9999999999"
			},
			"notes": {
				"address": "Razorpay Corporate Office"
			},
			"theme": {
				"color": "#3399cc"
			}
		};
		var rzp1 = new Razorpay(options);
		rzp1.open();
	}
	function verifyPayment(payment, order) {
		$.ajax({
			url: '/verify-payment',
			data: {
				payment,
				order
			},
			method: 'post',
			success: (response) => {
				if (response.status) {
					location.href = '/order-successful'
				} else {
					alert("Payment failed")
				}
			}
		})
	}

</script>


<script>
	$("#redeem-code").submit((e) => {
		e.preventDefault()
		$.ajax({
			url: '/redeem-code',
			method: 'post',
			data: $('#redeem-code').serialize(),
			success: (response) => {
				if (response.status) {
					document.getElementById('discount').innerHTML = response.discount
					document.getElementById('total').innerHTML = response.discountPrice
				}else{
					document.getElementById('MinPrice').innerHTML = response.MinPrice
					document.getElementById('errMsg').innerHTML = response.errMsg
				}
			}
		})
	})
</script>