<div class="ads-grid_shop">
    <div class="shop_inner_inf">
        <div class="privacy about">
            <h3>Your Profile</h3>

            <div class="checkout-left">
                <div class="col-md-4 checkout-left-basket">
                    <h4 style="background-color: black;">PROFILE</h4>
                    <div class="container" style="margin-left:100px; margin-bottom: 20px;">
                            <img src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-business-user-profile-vector-png-image_4830519.jpg" alt="profile" style="max-width: 200px;">
                    </div>
                    <p>Name : {{userDetails.Name}}</p>
                    <p>Mobile Number : {{userDetails.Mobilenumber}}</p>
                    <p>Email ID : {{userDetails.Email}}</p>
                    <br>

                    {{#if userDetails.address}}
                    <p><b> Saved Addresses : </b></p>
                    {{#each userDetails.address}}
                    <p>Address {{@index}}</p>
                    <p>Name : {{this.Name}}</p>
                    <p>Mobile : {{this.Mobile}}</p>
                    <p>Landmark : {{this.Landmark}}</p>
                    <p>City : {{this.City}}</p>
                    <p>Pincode : {{this.Pincode}}</p>
                    <br>
                    {{/each}}
                    {{/if}}
                </div>

                <div class="col-md-8 address_form">
                    <h4>Add delivery Details</h4>
                    <form action="/add-address" method="post" id="checkout-form"
                        class="creditly-card-form agileinfo_form">
                        <section class="creditly-wrapper wrapper">
                            <div class="information-wrapper">
                                <div class="first-row form-group">
                                    <div class="controls">
                                        <label class="control-label">Full name: </label>
                                        <input class="billing-address-name form-control" type="text" name="Name"
                                            placeholder="Full name">
                                    </div>
                                    <div class="card_number_grids">
                                        <div class="card_number_grid_left">
                                            <div class="controls">
                                                <label class="control-label">Mobile number:</label>
                                                <input class="form-control" type="text" placeholder="Mobile number"
                                                    name="Mobile">
                                            </div>
                                        </div>
                                        <div class="card_number_grid_right">
                                            <div class="controls">
                                                <label class="control-label">Landmark: </label>
                                                <input class="form-control" type="text" placeholder="Landmark"
                                                    name="Landmark">
                                            </div>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Town/City: </label>
                                        <input class="form-control" type="text" placeholder="Town/City" name="City">
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Pincode:</label>
                                        <input class="form-control" type="text" placeholder="Pincode" name="Pincode">
                                    </div>
                                    <button type="submit" class="btn btn-success">SUBMIT</button>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
                <div class="clearfix"> </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>